<h1>Find out if a list of words are anagrams of a word<small> Separate the list with commas</small> </h1>
<form action='/list'>
  <div class='form-group'>
    <label for='root_word'>Word</label>
    <input id='root_word' name='root_word' class='form-control' type='text'>
  </div>
  <div class= 'form-group'>
    <label for='word_list'>Possible Anagrams</label>
    <input id='word_list' name='word_list' class='form-control' type='text'>
  </div>
  <button type='submit' class='btn'>Check Anagrams</button>
</form>
